
/* 
New Colors
Tan: c08f5c
Brown: 84502f
Dark Brown: 613019

Old Colors: 
Tan: #d7c29b
Brown: #9e8764
Dark Brown: #725b3f
*/

:root {
    --darkBrown: #613019;
    --brown: #a3663e;
    --tan: #d2a26d;
}

* {
    font-family: sans-serif;
    
    /* cursor: url("assets/poop-emoji.png"), auto;	 */
}

/* USED TO REMOVE ARROWS FROM INPUT FIELD - START */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* USED TO REMOVE ARROWS FROM INPUT FIELD - END */
a {
    color:  var(--darkBrown);
    font-weight: 700;
}
a:hover {
    color: white;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    column-gap: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--darkBrown);
    margin-bottom: 50px;
}

.navbar a:hover{
    color:  var(--tan);
}

.navbar .links {
    display: flex;
    column-gap: 50px;
    flex-direction: row;
    align-items: center;
}

.navbar img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.login-form {
    background-color: var(--tan);
    padding: 50px 100px 70px 100px;
    border-radius: 15px;
    justify-content:center;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2)    
}
.login-form h2{
    text-align: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.register-form {
    background-color: var(--tan);
    padding: 50px 100px 70px 100px;
    border-radius: 15px;
    justify-content:center;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2)    
} 

input {
    border-radius: .5em;
    border: 3px solid var(--brown);
    padding-left: .5em;
    margin-bottom: 1em;
    /* Removes arrows from number input field */
    -moz-appearance: textfield;
}

select {
    border-radius: .5em;
    border: 3px solid var(--brown);
    padding-left: .5em;
    margin-bottom: 1em;
    /* Removes arrows from number input field */
    -moz-appearance: textfield;
}

button {
    color: white;
    background-color: var(--darkBrown);
    padding: .5em;
    border: 0;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: var(--brown);
}

table, th, td {
    border-collapse: collapse;
    border: 3px solid var(--brown);
}

th, td {
    width: 500px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card-container a{
    text-decoration: none;
    color: black;
}
.card-container p{
    font-weight: 100;
}

.card-container a:hover{
    text-decoration: none;
    color: black;
}

.card {
    background-color: var(--tan);
    padding: 20px 70px 20px 70px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-height: 150px;
}

.footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    column-gap: 30px;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: var(--darkBrown);
    margin-top: 50px;
}

.footer img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

